<h1>Vendas<h1>

<p>
  <strong>Comprador:</strong>
  <%= @sale_buyer %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @sale_description %>
</p>

<p>
  <strong>Preço Unitário:</strong>
  <%= @sale_unity_price %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @sale_quantity %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @sale_address %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @sale_suplier %>
</p>

<%= link_to "Voltar", infos_path %>