<h1>Vendas<h1>

<p>
  <strong>Comprador:</strong>
  <%= @sale_buyer %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @sale.description %>
</p>

<p>
  <strong>Preço Unitário:</strong>
  <%= @sale.unity_price %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @sale.quantity %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @sale.address %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @sale.suplier %>
</p>

<%= link_to "Voltar", infos_path %>