<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>TesteDesenvolvedor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

=======
    <title>Novo Projeto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
>>>>>>> a4c8540203708fb1f807e31cece412980455454c
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "container">
<<<<<<< HEAD
    <%= yield %>
  </div>
=======
      <%= yield %>
    </div>
>>>>>>> a4c8540203708fb1f807e31cece412980455454c
  </body>
</html>
